Workflows/PerformSearch-7D209B10-E6AA-EE11-BE37-002248004D0A.json
{
  "properties": {
    "connectionReferences": {
      "shared_bingsearch": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jai_sharedbingsearch_d3f39"
        },
        "api": {
          "name": "shared_bingsearch"
        }
      },
      "shared_conversionservice": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jai_sharedconversionservice_11cb1"
        },
        "api": {
          "name": "shared_conversionservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "1ff455f2-9325-4249-8dd8-8b320d526b9b"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Customer",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "List_news_by_query": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bb04e6e5-51c4-4062-8504-cba9c2c36574"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "q": "@triggerBody()['text']",
              "mkt": "en-GB",
              "safeSearch": "Strict",
              "count": "10"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_bingsearch",
              "connectionName": "shared_bingsearch",
              "operationId": "GetNews"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Filter_out_just_URLs": {
          "runAfter": {
            "List_news_by_query": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3f0c600a-d32a-4c18-97c3-517c99019a25"
          },
          "type": "Select",
          "inputs": {
            "from": "@body('List_news_by_query')",
            "select": {
              "URL": "@{item()?['url']}"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Filter_out_just_URLs')",
          "actions": {
            "HTTP": {
              "metadata": {
                "operationMetadataId": "ee087855-1768-4441-ad0f-a48a345e9454"
              },
              "type": "Http",
              "inputs": {
                "uri": "@{item()?['URL']}",
                "method": "GET"
              }
            },
            "Html_to_text": {
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "44817728-2913-4237-b9d7-d706d88bff35"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "Content": "<p>@{body('HTTP')}</p>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice",
                  "connectionName": "shared_conversionservice",
                  "operationId": "HtmlToText"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            },
            "Append_to_array_variable": {
              "runAfter": {
                "Html_to_text": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "acd503e0-c97f-4db0-a259-9f84c1547c5e"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "arrArticleContent",
                "value": {
                  "content": "@{body('Html_to_text')}"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d54cb4b8-fd29-4a60-bf45-339ec5cdbc9d"
          },
          "type": "Foreach"
        },
        "Initialize_variable": {
          "runAfter": {
            "Filter_out_just_URLs": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c864c9e3-0413-4b6c-bc83-b2f89fd8d0b4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "arrArticleContent",
                "type": "array"
              }
            ]
          }
        },
        "Respond_to_Flow": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "698636e4-cd97-4ac8-9485-9a457f68b5f7"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "headers": {
              "Content-Type": "application/json"
            },
            "body": "@variables('arrArticleContent')",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "content"
                ]
              }
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}